
.fa {
  cursor: pointer;
  color: white;
  opacity: .5;
  font-size: 30px;
  transition: .2s;

  @include tablets {
    font-size: 38px;
  }

  &:hover {
    opacity: 1;
  }
}

.fa-chevron-up {
  font-size: 38px;
}
