.hero__container {
  grid-area: hero;
  position: relative;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 135%;
  background: url(./assets/images/bg/bg-hero--full.png) center -150px / cover no-repeat;

  @include tablets {
    background: url(./assets/images/bg/bg-hero.png) center -150px / cover no-repeat;
  }

  @media (min-device-pixel-ratio: 1.5) or (min-resolution: 144dpi) {
    background: url(./assets/images/bg/bg-hero2x.png) center -150px / cover no-repeat;
  }
}

.hero__socials {
  position: absolute;
  top: calc(32 * 100 / 1200)%;
  left: calc(38 * 100 / 1800)%;
  z-index: 10;

  @include phones {
    top: 15px;
    left: 10px;
  }
}

.hero__menu {
  position: absolute;
  top: calc(38 * 100 / 1200)%;
  right: 32px;

  @include phones {
    top: 10px;
    right: 10px;
  }
}

.hero__content {
  z-index: 10;
}

.hero__title {
  position: absolute;
  display: flex;
  width: 90%;
  height: 90%;
}

.hero__pic {
  width: 100%;
  height: 100%;
  fill: white;
  opacity: .06;

  @include tablets {
    display: none;
  }
}

.hero__arrow-down {
  position: absolute;
  bottom: calc(100 * 100 / 1200)%;
  z-index: 100;
}