.nav {
  display: flex;
  width: 100%;
  border-radius: 5px;
}

.nav--menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -999;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 50%;
    background-color: rgba($main, .85);
    will-change: transform;
  }

  &:before {
    left: -100%;
  }

  &:after {
    right: -100%;
  }
}

.nav--active {
  z-index: 999;
  overflow-x: hidden;
  overflow-Y: scroll;

  @include tablets {
    overflow-y: hidden;
  }

  &:before,
  &:after {
    transition: all .5s;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  .nav__link--menu {
    opacity: 1;
    transition: all .3s;
    transition-delay: .5s;
  }
}

.nav__list {
  display: flex;
  width: 100%;


  &--menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 999;
  }
}

.nav__item {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .2s;

  &--menu {
    margin-bottom: 100px;

    @include phones {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--profile {
    background-color: rgba($main, .5);
    border-right: 2px solid rgba(white, .5);

    &:first-child {
      border-radius: 0 0 0 5px;
    }

    &:last-child {
      border-right: none;
      border-radius: 0 0 5px 0;
    }

    &:hover {
      background-color: $secondary;
    }

    .nav__link {
      margin-right: 0;
      padding: 14px 31px;

      @include tablets {
        padding: 14px 30px;
      }

      @include phones {
        padding: 14px 24.5px;
      }
    }
  }
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
  width: 100%;
  height: 100%;
  transition: all .2s;

  &--hover:hover {
    color: $main;
  }

  &--menu {
    opacity: 0;
    margin-right: 0;
  }

  @include phones {
    margin-right: 7px;
  }
}

.nav__item:last-child {
  .nav__link {
    margin-right: 0;
  }
}

.noscroll {
  overflow: hidden;
  padding-right: 17px;

  @include tablets {
    padding-right: 0;
  }
}
