extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block content
  .about__container
    include ../common/hero.pug
    .about__content
      .triangle__container
        .about__triangle.triangle.triangle--left
          svg(viewBox="0 0 1200 300" preserveAspectRatio="none").triangle-pic.triangle-pic--about-left
            polygon(points='0,0 0,300 1200,300 1200,280')
        .triangle.triangle--right
          svg(viewBox="0 0 1200 300" preserveAspectRatio="none").triangle-pic.triangle-pic--about-right
            polygon(points='1200,50 1200,300 0,300 0,280')
      .about__content-container
        include ../blocks/userblock.pug
        .skills__container
          .skills__title-container
            h2.skills__title.title--multiline.title.title--small
              | Чем я могу быть
              br
              | Вам полезен
            p.skills__desc
              | Больше всего меня привлекет Frontend разработка,
              | но я также знаком и могу решать не сложные задачи на Backend.
              | Но давайте по порядку.
          #skills-component

    .about__contacts
      include ../blocks/contacts.pug


block scripts
  script(src='about.bundle.js')
