extends ../main.layout.pug

block variables
  - var title = 'blog'

block content
  main.blog__container
    .blog__content
      .blog__triangle.triangle__container
        .triangle.triangle--left.triangle--blog
          svg(viewBox="0 0 1000 185" preserveAspectRatio="none").triangle-pic.triangle-pic--blog
            polygon(points='0,0 0,185 1000,185 1000,175')
        .triangle.triangle--right.triangle--blog
          svg(viewBox="0 0 1000 185" preserveAspectRatio="none").triangle-pic.triangle-pic--blog
            polygon(points='0,185 1000,185 1000,0 0,175')
      #articles-component


block scripts
  script(src='blog.bundle.js')
