extends ../auth.layout.pug


block content
  .side
    .side__container
      figure.side__item.side__item--front.js_side--front
        article.profile-block
          .profile-block__top
            .user.user--textcolor-dark.user--welcome
              .user-img__wrapper
                +image('avatars/avatar.jpg', 'аватар пользователя', 'user__img', 'avatars/avatar2x.jpg')
              h1.user__title Барсукова Анастасия
              h2.user__desc.user__desc--ff-regular  Личный сайт веб разработчика

              ul.socials__list.profile__socials
                -
                  var socials = [
                    { name: 'vk', href: 'https://vk.com/id193959126'},
                    { name: 'github', href: 'https://github.com/ananastea'},
                    { name: 'in', href: 'https://www.linkedin.com/'}
                  ]

                each item in socials
                  li.socials__item
                    a(href=`${item.href}`).socials__link
                      +icon(`${item.name}`, 'social__img--fill-main social__img')

          .profile-block__bot
            -
              var links = [
                { name: 'Мои работы', href: 'works'},
                { name: 'Обо мне', href: 'about'},
                { name: 'Блог', href: 'blog'}
              ]

            nav.nav
              ul.nav__list
                each link in links
                  li.nav__item.nav__item--profile
                    a.nav__link.nav__link--profile(href=`${link.href}.html`) #{link.name}

      figure.side__item.side__item--back.js_side--back.rotate
        #form-component

