extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block content
  .works__container
    include ../common/hero.pug

    .works__content
      .triangle__container
        .works__triangle.triangle.triangle--left
          svg(viewBox="0 0 1200 300" preserveAspectRatio="none").triangle-pic.triangle-pic--works
            polygon(points='0,0 0,300 1200,300 1200,280')
        .triangle.triangle--right
          svg(viewBox="0 0 1200 300" preserveAspectRatio="none").triangle-pic.triangle-pic--works
            polygon(points='1200,50 1200,300 0,300 0,280')
      #slider-component

    .works__reviews
      include ../blocks/reviews.pug


block scripts
  script(src='works.bundle.js')
