.about__container {
  display: grid;
  grid-template:
    'hero' 100vh
    'content' minmax(100vh, auto)
    'contacts' minmax(100vh, auto)
    / 100%;
  height: 100%;

  @include phones {
    grid-template:
      'hero' 100vh
      'content' minmax(100vh, auto)
      'contacts' minmax(100vh, calc(100vh + 270px))
    / 100%;
    height: 100%;
  }
}

.about__content-container {
  display: grid;
  grid-template:
   "left right" 1fr
   / 50% 50%;
  height: 100%;

  @include tablets {
    grid-template:
    "left"  100vh
    "right" 100vh
   / 100%;
  }

  @include phones {
    grid-template:
    "left"  100vh
    "right" auto
   / 100%;
  }
}

.about__content {
  grid-area: content;
}

.about__col {
  position: relative;
  display: flex;
  background-color: $bg-color;
  padding: 20px;

  &--left {
    grid-area: left;
  }

  &--right {
    grid-area: right;
  }

  &--bg-dark {
    background-color: $bg-color--dark;
  }
}

.about__contacts {
  grid-area: contacts;
}