.userblock__container {
  grid-area: left;
  display: grid;
  grid-gap: 20px;
  grid-template:
    "title main" 1fr
  / 1fr 1fr;
  background-color: $bg-color;
  padding-right: 2.22222222%;

  @include desktop {
    grid-template:
    'title' min-content
     'main' 100vh
    / 100% ;
    grid-gap: 30px;
  }

  @include tablets {
    padding-right: 0;
    padding: 0 10%;
  }

  @include phones {
    padding: 0;
  }
}

.userblock {
  grid-area: main;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    width: 70%;
    padding-top: 0;
    margin-left: auto;
  }

  @include tablets {
    margin: 0 auto;
  }

  @include phones {
    width: 100%;
  }
}

.userblock__img-wrap {
  margin-bottom: calc(40 * 100 / 1200)%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.userblock__img {
  max-width: 100%;

  @include desktop {
    padding-right: 20px;
  }

  @include tablets {
    padding-right: 0;
  }

  @include phones {
    max-width: 50%;
  }
}

.userblock__title {
  grid-area: title;
  position: relative;

    @include desktop {
      width: 70%;
      margin-left: auto;
      margin-right: 2%;
    }

    @include tablets {
      width: 100%;
    }

  .title-bg {
    top: 3%;

    @include desktop {
      top: 25%;
    }
  }
}

.userblock__subtitle {
  margin-bottom: calc(40 * 100 / 1200)%;
}

.userblock__text {
  margin-bottom: 20px;
  width: 95%;

}
