//footer

block variables

footer.footer
  .footer__row
    .footer__col.footer__col--left
      .footer__nav
        -
          var links = [
          { name: 'Мои работы', href: 'works'},
          { name: 'Обо мне', href: 'about'},
          { name: 'Блог', href: 'blog'},
          { name: 'Авторизация', href: 'index'}
          ]
        nav.nav
          ul.nav__list
            each link in links
              li.nav__item
                a.nav__link.nav__link--hover(href=`${link.href}.html`) #{link.name}

    .footer__col.footer__col--right
      .footer__socials
        ul.socials__list
          -
            var socials = [
            { name: 'vk', href: 'https://vk.com/id193959126'},
            { name: 'github', href: 'https://github.com/ananastea'},
            { name: 'in', href: 'https://www.linkedin.com/'}
            ]
          each item in socials
            li.socials__item
              a(href=`${item.href}`).socials__link.socials__link--footer
                +icon(`${item.name}`, 'social__img--footer social__img')
  .footer__row
    .footer__col.footer__col--left
      p.footer__text
        | Я веб-разработчик из Белгорода, и этот сайт я сделала в рамках
        | обучения в Школе онлайн образования LoftSchool.

    .footer__col.footer__col--right
      .footer__copyright
        p.copyright.footer__text © Барсукова Анастасия | создано с любовью в LoftSchool | 2019
