.parallax
  .parallax__layer
    +image('parallax/layer_01.png', 'layer_1', 'parallax__img parallax__img-01')
  .parallax__layer
    +image('parallax/layer_02.png', 'layer_2', 'parallax__img parallax__img-02')
  .parallax__layer
    +image('parallax/layer_03.png', 'layer_3', 'parallax__img parallax__img-03')
  .parallax__layer
    +image('parallax/layer_04.png', 'layer_4', 'parallax__img parallax__img-04 cloud_3')
  .parallax__layer
    +image('parallax/layer_05.png', 'layer_5', 'parallax__img parallax__img-05')
  .parallax__layer
    +image('parallax/layer_06.png', 'layer_6', 'parallax__img parallax__img-06')
  .parallax__layer
    +image('parallax/layer_07.png', 'layer_7', 'parallax__img parallax__img-07 cloud_2')
  .parallax__layer
    +image('parallax/layer_08.png', 'layer_8', 'parallax__img parallax__img-08')
  .parallax__layer
    +image('parallax/layer_09.png', 'layer_9', 'parallax__img parallax__img-09')
  .parallax__layer
    +image('parallax/layer_10.png', 'layer_10', 'parallax__img cloud_1 parallax__img-10')