section.reviews
  .reviews__container
    .reviews__title
      .title-bg
        +icon('about_header', 'title__pic')
      h2.title.reviews__title-text
        | Что обо мне
        br
        | говорят
    .reviews__item.reviews__item--left
      .comment
        span.comment__quotes
        p.comment__text
          |Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
          | 4 месяца только самых тяжелых испытаний и бессонных ночей!
        .comment__user
          .comment__img-wrap
            +image('avatars/dmitriy.png', 'avatar', 'comment__img', 'avatars/dmitriy2x.png')
          .comment__user-desc
            span.comment__name Ковальчук Дмитрий
            span.comment__spec основатель Loftschool
    .reviews__item.reviews__item--right
      .comment
        span.comment__quotes
        p.comment__text
          | Этот код выдержит любые испытания.
          | Только пожалуйста, не загружайте сайт на слишком старых браузерах!
        .comment__user
          .comment__img-wrap
            +image('avatars/vladimir.png', 'avatar', 'comment__img', 'avatars/vladimir2x.png')
          .comment__user-desc
            span.comment__name Сабанцев Владимир
            span.comment__spec преподаватель
    .reviews__bot
      include ./callback.pug
      .reviews__arrow-container.arrow__container
        +icon('portf_arrow_up', 'arrow__up')

