.userblock__container
  .userblock__title
    .title-bg
      +icon('about_header', 'title__pic')
    h1.title.title--userblock Обо мне
  .userblock
    .userblock__img-wrap
      +image('avatars/avatar.jpg', 'avatar', 'userblock__img', 'avatars/avatar2x.jpg')
    h2.userblock__subtitle.title.title--small Кто я
    p.userblock__text
      | Я веб разработчик из Белгорода. Мне 22 года.
      | Я занимаюсь разработкой современных сайтов и приложений.
      | Мне нравится делать интересные и современные проекты.
    p.userblock__text
      | Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
      | Чуть позже я освежу в нём свой контент.
      | А пока посмотрите,как тут всё классно и красиво!